<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /blueridgefarmerscollective/

# Don't rewrite real files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite everything to public/index.php
RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
