RewriteEngine On
RewriteBase /blue_ridge_farmers_collective/public/

# Redirect all requests to front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
